<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iapppay.consumer.dao.dimdao.DimDayCpInfoMapper">
  <resultMap id="BaseResultMap" type="com.iapppay.consumer.dto.dimdto.DimDayCpInfo">
    <id column="statdate" jdbcType="INTEGER" property="statdate" />
    <id column="cpid" jdbcType="INTEGER" property="cpid" />
    <result column="cptype" jdbcType="INTEGER" property="cptype" />
    <result column="cplevel" jdbcType="INTEGER" property="cplevel" />
    <result column="cpstatus" jdbcType="CHAR" property="cpstatus" />
    <result column="cpname" jdbcType="VARCHAR" property="cpname" />
    <result column="regtime" jdbcType="TIMESTAMP" property="regtime" />
    <result column="systemid" jdbcType="INTEGER" property="systemid" />
    <result column="excpid" jdbcType="VARCHAR" property="excpid" />
    <result column="iftest" jdbcType="INTEGER" property="iftest" />
    <result column="parentcpid" jdbcType="INTEGER" property="parentcpid" />
    <result column="balancecall" jdbcType="VARCHAR" property="balancecall" />
    <result column="bindemail" jdbcType="VARCHAR" property="bindemail" />
    <result column="cpunit" jdbcType="INTEGER" property="cpunit" />
    <result column="contbegtime" jdbcType="CHAR" property="contbegtime" />
    <result column="contendtime" jdbcType="CHAR" property="contendtime" />
    <result column="isautorene" jdbcType="CHAR" property="isautorene" />
    <result column="servtype" jdbcType="CHAR" property="servtype" />
    <result column="balacyctype" jdbcType="CHAR" property="balacyctype" />
    <result column="balacyctype_time" jdbcType="DATE" property="balacyctype_time" />
    <result column="balacyctype_value" jdbcType="INTEGER" property="balacyctype_value" />
    <result column="balacyctyp_time" jdbcType="DATE" property="balacyctyp_time" />
    <result column="balacyctyp_value" jdbcType="INTEGER" property="balacyctyp_value" />
    <result column="lowpaymoney" jdbcType="DOUBLE" property="lowpaymoney" />
    <result column="feecontr" jdbcType="CHAR" property="feecontr" />
    <result column="freebegtime" jdbcType="CHAR" property="freebegtime" />
    <result column="freeendtime" jdbcType="CHAR" property="freeendtime" />
    <result column="inserttime" jdbcType="TIMESTAMP" property="inserttime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="effectivetime" jdbcType="CHAR" property="effectivetime" />
    <result column="formaltime" jdbcType="CHAR" property="formaltime" />
    <result column="contraaudistatus" jdbcType="INTEGER" property="contraaudistatus" />
    <result column="contratype" jdbcType="INTEGER" property="contratype" />
    <result column="bussinesstype" jdbcType="INTEGER" property="bussinesstype" />
    <result column="cpmode" jdbcType="VARCHAR" property="cpmode" />
    <result column="agent_company_code" jdbcType="VARCHAR" property="agent_company_code" />
    <result column="refund_rule" jdbcType="INTEGER" property="refund_rule" />
    <result column="audit_effect" jdbcType="INTEGER" property="audit_effect" />
  </resultMap>
  
  <sql id="Base_Column_List">
    statdate, cpid, cptype, cplevel, cpstatus, cpname, regtime, systemid, excpid, iftest, 
    parentcpid, balancecall, bindemail, cpunit, contbegtime, contendtime, isautorene, 
    servtype, balacyctype, balacyctype_time, balacyctype_value, balacyctyp_time, balacyctyp_value, 
    lowpaymoney, feecontr, freebegtime, freeendtime, inserttime, updatetime, effectivetime, 
    formaltime, contraaudistatus, contratype, bussinesstype, cpmode, agent_company_code, 
    refund_rule, audit_effect
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="com.iapppay.consumer.dto.dimdto.DimDayCpInfoKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dim_day_cpinfo
    where statdate = #{statdate,jdbcType=INTEGER}
      and cpid = #{cpid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="com.iapppay.consumer.dto.dimdto.DimDayCpInfoKey">
    delete from dim_day_cpinfo
    where statdate = #{statdate,jdbcType=INTEGER}
      and cpid = #{cpid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.iapppay.consumer.dto.dimdto.DimDayCpInfo">
    insert into dim_day_cpinfo (statdate, cpid, cptype, 
      cplevel, cpstatus, cpname, 
      regtime, systemid, excpid, 
      iftest, parentcpid, balancecall, 
      bindemail, cpunit, contbegtime, 
      contendtime, isautorene, servtype, 
      balacyctype, balacyctype_time, balacyctype_value, 
      balacyctyp_time, balacyctyp_value, lowpaymoney, 
      feecontr, freebegtime, freeendtime, 
      inserttime, updatetime, effectivetime, 
      formaltime, contraaudistatus, contratype, 
      bussinesstype, cpmode, agent_company_code, 
      refund_rule, audit_effect)
    values (#{statdate,jdbcType=INTEGER}, #{cpid,jdbcType=INTEGER}, #{cptype,jdbcType=INTEGER}, 
      #{cplevel,jdbcType=INTEGER}, #{cpstatus,jdbcType=CHAR}, #{cpname,jdbcType=VARCHAR}, 
      #{regtime,jdbcType=TIMESTAMP}, #{systemid,jdbcType=INTEGER}, #{excpid,jdbcType=VARCHAR}, 
      #{iftest,jdbcType=INTEGER}, #{parentcpid,jdbcType=INTEGER}, #{balancecall,jdbcType=VARCHAR}, 
      #{bindemail,jdbcType=VARCHAR}, #{cpunit,jdbcType=INTEGER}, #{contbegtime,jdbcType=CHAR}, 
      #{contendtime,jdbcType=CHAR}, #{isautorene,jdbcType=CHAR}, #{servtype,jdbcType=CHAR}, 
      #{balacyctype,jdbcType=CHAR}, #{balacyctype_time,jdbcType=DATE}, #{balacyctype_value,jdbcType=INTEGER}, 
      #{balacyctyp_time,jdbcType=DATE}, #{balacyctyp_value,jdbcType=INTEGER}, #{lowpaymoney,jdbcType=DOUBLE}, 
      #{feecontr,jdbcType=CHAR}, #{freebegtime,jdbcType=CHAR}, #{freeendtime,jdbcType=CHAR}, 
      #{inserttime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{effectivetime,jdbcType=CHAR}, 
      #{formaltime,jdbcType=CHAR}, #{contraaudistatus,jdbcType=INTEGER}, #{contratype,jdbcType=INTEGER}, 
      #{bussinesstype,jdbcType=INTEGER}, #{cpmode,jdbcType=VARCHAR}, #{agent_company_code,jdbcType=VARCHAR}, 
      #{refund_rule,jdbcType=INTEGER}, #{audit_effect,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="com.iapppay.consumer.dto.dimdto.DimDayCpInfo">
    insert into dim_day_cpinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="statdate != null">
        statdate,
      </if>
      <if test="cpid != null">
        cpid,
      </if>
      <if test="cptype != null">
        cptype,
      </if>
      <if test="cplevel != null">
        cplevel,
      </if>
      <if test="cpstatus != null">
        cpstatus,
      </if>
      <if test="cpname != null">
        cpname,
      </if>
      <if test="regtime != null">
        regtime,
      </if>
      <if test="systemid != null">
        systemid,
      </if>
      <if test="excpid != null">
        excpid,
      </if>
      <if test="iftest != null">
        iftest,
      </if>
      <if test="parentcpid != null">
        parentcpid,
      </if>
      <if test="balancecall != null">
        balancecall,
      </if>
      <if test="bindemail != null">
        bindemail,
      </if>
      <if test="cpunit != null">
        cpunit,
      </if>
      <if test="contbegtime != null">
        contbegtime,
      </if>
      <if test="contendtime != null">
        contendtime,
      </if>
      <if test="isautorene != null">
        isautorene,
      </if>
      <if test="servtype != null">
        servtype,
      </if>
      <if test="balacyctype != null">
        balacyctype,
      </if>
      <if test="balacyctype_time != null">
        balacyctype_time,
      </if>
      <if test="balacyctype_value != null">
        balacyctype_value,
      </if>
      <if test="balacyctyp_time != null">
        balacyctyp_time,
      </if>
      <if test="balacyctyp_value != null">
        balacyctyp_value,
      </if>
      <if test="lowpaymoney != null">
        lowpaymoney,
      </if>
      <if test="feecontr != null">
        feecontr,
      </if>
      <if test="freebegtime != null">
        freebegtime,
      </if>
      <if test="freeendtime != null">
        freeendtime,
      </if>
      <if test="inserttime != null">
        inserttime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="effectivetime != null">
        effectivetime,
      </if>
      <if test="formaltime != null">
        formaltime,
      </if>
      <if test="contraaudistatus != null">
        contraaudistatus,
      </if>
      <if test="contratype != null">
        contratype,
      </if>
      <if test="bussinesstype != null">
        bussinesstype,
      </if>
      <if test="cpmode != null">
        cpmode,
      </if>
      <if test="agent_company_code != null">
        agent_company_code,
      </if>
      <if test="refund_rule != null">
        refund_rule,
      </if>
      <if test="audit_effect != null">
        audit_effect,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="statdate != null">
        #{statdate,jdbcType=INTEGER},
      </if>
      <if test="cpid != null">
        #{cpid,jdbcType=INTEGER},
      </if>
      <if test="cptype != null">
        #{cptype,jdbcType=INTEGER},
      </if>
      <if test="cplevel != null">
        #{cplevel,jdbcType=INTEGER},
      </if>
      <if test="cpstatus != null">
        #{cpstatus,jdbcType=CHAR},
      </if>
      <if test="cpname != null">
        #{cpname,jdbcType=VARCHAR},
      </if>
      <if test="regtime != null">
        #{regtime,jdbcType=TIMESTAMP},
      </if>
      <if test="systemid != null">
        #{systemid,jdbcType=INTEGER},
      </if>
      <if test="excpid != null">
        #{excpid,jdbcType=VARCHAR},
      </if>
      <if test="iftest != null">
        #{iftest,jdbcType=INTEGER},
      </if>
      <if test="parentcpid != null">
        #{parentcpid,jdbcType=INTEGER},
      </if>
      <if test="balancecall != null">
        #{balancecall,jdbcType=VARCHAR},
      </if>
      <if test="bindemail != null">
        #{bindemail,jdbcType=VARCHAR},
      </if>
      <if test="cpunit != null">
        #{cpunit,jdbcType=INTEGER},
      </if>
      <if test="contbegtime != null">
        #{contbegtime,jdbcType=CHAR},
      </if>
      <if test="contendtime != null">
        #{contendtime,jdbcType=CHAR},
      </if>
      <if test="isautorene != null">
        #{isautorene,jdbcType=CHAR},
      </if>
      <if test="servtype != null">
        #{servtype,jdbcType=CHAR},
      </if>
      <if test="balacyctype != null">
        #{balacyctype,jdbcType=CHAR},
      </if>
      <if test="balacyctype_time != null">
        #{balacyctype_time,jdbcType=DATE},
      </if>
      <if test="balacyctype_value != null">
        #{balacyctype_value,jdbcType=INTEGER},
      </if>
      <if test="balacyctyp_time != null">
        #{balacyctyp_time,jdbcType=DATE},
      </if>
      <if test="balacyctyp_value != null">
        #{balacyctyp_value,jdbcType=INTEGER},
      </if>
      <if test="lowpaymoney != null">
        #{lowpaymoney,jdbcType=DOUBLE},
      </if>
      <if test="feecontr != null">
        #{feecontr,jdbcType=CHAR},
      </if>
      <if test="freebegtime != null">
        #{freebegtime,jdbcType=CHAR},
      </if>
      <if test="freeendtime != null">
        #{freeendtime,jdbcType=CHAR},
      </if>
      <if test="inserttime != null">
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectivetime != null">
        #{effectivetime,jdbcType=CHAR},
      </if>
      <if test="formaltime != null">
        #{formaltime,jdbcType=CHAR},
      </if>
      <if test="contraaudistatus != null">
        #{contraaudistatus,jdbcType=INTEGER},
      </if>
      <if test="contratype != null">
        #{contratype,jdbcType=INTEGER},
      </if>
      <if test="bussinesstype != null">
        #{bussinesstype,jdbcType=INTEGER},
      </if>
      <if test="cpmode != null">
        #{cpmode,jdbcType=VARCHAR},
      </if>
      <if test="agent_company_code != null">
        #{agent_company_code,jdbcType=VARCHAR},
      </if>
      <if test="refund_rule != null">
        #{refund_rule,jdbcType=INTEGER},
      </if>
      <if test="audit_effect != null">
        #{audit_effect,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.iapppay.consumer.dto.dimdto.DimDayCpInfo">
    update dim_day_cpinfo
    <set>
      <if test="cptype != null">
        cptype = #{cptype,jdbcType=INTEGER},
      </if>
      <if test="cplevel != null">
        cplevel = #{cplevel,jdbcType=INTEGER},
      </if>
      <if test="cpstatus != null">
        cpstatus = #{cpstatus,jdbcType=CHAR},
      </if>
      <if test="cpname != null">
        cpname = #{cpname,jdbcType=VARCHAR},
      </if>
      <if test="regtime != null">
        regtime = #{regtime,jdbcType=TIMESTAMP},
      </if>
      <if test="systemid != null">
        systemid = #{systemid,jdbcType=INTEGER},
      </if>
      <if test="excpid != null">
        excpid = #{excpid,jdbcType=VARCHAR},
      </if>
      <if test="iftest != null">
        iftest = #{iftest,jdbcType=INTEGER},
      </if>
      <if test="parentcpid != null">
        parentcpid = #{parentcpid,jdbcType=INTEGER},
      </if>
      <if test="balancecall != null">
        balancecall = #{balancecall,jdbcType=VARCHAR},
      </if>
      <if test="bindemail != null">
        bindemail = #{bindemail,jdbcType=VARCHAR},
      </if>
      <if test="cpunit != null">
        cpunit = #{cpunit,jdbcType=INTEGER},
      </if>
      <if test="contbegtime != null">
        contbegtime = #{contbegtime,jdbcType=CHAR},
      </if>
      <if test="contendtime != null">
        contendtime = #{contendtime,jdbcType=CHAR},
      </if>
      <if test="isautorene != null">
        isautorene = #{isautorene,jdbcType=CHAR},
      </if>
      <if test="servtype != null">
        servtype = #{servtype,jdbcType=CHAR},
      </if>
      <if test="balacyctype != null">
        balacyctype = #{balacyctype,jdbcType=CHAR},
      </if>
      <if test="balacyctype_time != null">
        balacyctype_time = #{balacyctype_time,jdbcType=DATE},
      </if>
      <if test="balacyctype_value != null">
        balacyctype_value = #{balacyctype_value,jdbcType=INTEGER},
      </if>
      <if test="balacyctyp_time != null">
        balacyctyp_time = #{balacyctyp_time,jdbcType=DATE},
      </if>
      <if test="balacyctyp_value != null">
        balacyctyp_value = #{balacyctyp_value,jdbcType=INTEGER},
      </if>
      <if test="lowpaymoney != null">
        lowpaymoney = #{lowpaymoney,jdbcType=DOUBLE},
      </if>
      <if test="feecontr != null">
        feecontr = #{feecontr,jdbcType=CHAR},
      </if>
      <if test="freebegtime != null">
        freebegtime = #{freebegtime,jdbcType=CHAR},
      </if>
      <if test="freeendtime != null">
        freeendtime = #{freeendtime,jdbcType=CHAR},
      </if>
      <if test="inserttime != null">
        inserttime = #{inserttime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectivetime != null">
        effectivetime = #{effectivetime,jdbcType=CHAR},
      </if>
      <if test="formaltime != null">
        formaltime = #{formaltime,jdbcType=CHAR},
      </if>
      <if test="contraaudistatus != null">
        contraaudistatus = #{contraaudistatus,jdbcType=INTEGER},
      </if>
      <if test="contratype != null">
        contratype = #{contratype,jdbcType=INTEGER},
      </if>
      <if test="bussinesstype != null">
        bussinesstype = #{bussinesstype,jdbcType=INTEGER},
      </if>
      <if test="cpmode != null">
        cpmode = #{cpmode,jdbcType=VARCHAR},
      </if>
      <if test="agent_company_code != null">
        agent_company_code = #{agent_company_code,jdbcType=VARCHAR},
      </if>
      <if test="refund_rule != null">
        refund_rule = #{refund_rule,jdbcType=INTEGER},
      </if>
      <if test="audit_effect != null">
        audit_effect = #{audit_effect,jdbcType=INTEGER},
      </if>
    </set>
    where statdate = #{statdate,jdbcType=INTEGER}
      and cpid = #{cpid,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.iapppay.consumer.dto.dimdto.DimDayCpInfo">
    update dim_day_cpinfo
    set cptype = #{cptype,jdbcType=INTEGER},
      cplevel = #{cplevel,jdbcType=INTEGER},
      cpstatus = #{cpstatus,jdbcType=CHAR},
      cpname = #{cpname,jdbcType=VARCHAR},
      regtime = #{regtime,jdbcType=TIMESTAMP},
      systemid = #{systemid,jdbcType=INTEGER},
      excpid = #{excpid,jdbcType=VARCHAR},
      iftest = #{iftest,jdbcType=INTEGER},
      parentcpid = #{parentcpid,jdbcType=INTEGER},
      balancecall = #{balancecall,jdbcType=VARCHAR},
      bindemail = #{bindemail,jdbcType=VARCHAR},
      cpunit = #{cpunit,jdbcType=INTEGER},
      contbegtime = #{contbegtime,jdbcType=CHAR},
      contendtime = #{contendtime,jdbcType=CHAR},
      isautorene = #{isautorene,jdbcType=CHAR},
      servtype = #{servtype,jdbcType=CHAR},
      balacyctype = #{balacyctype,jdbcType=CHAR},
      balacyctype_time = #{balacyctype_time,jdbcType=DATE},
      balacyctype_value = #{balacyctype_value,jdbcType=INTEGER},
      balacyctyp_time = #{balacyctyp_time,jdbcType=DATE},
      balacyctyp_value = #{balacyctyp_value,jdbcType=INTEGER},
      lowpaymoney = #{lowpaymoney,jdbcType=DOUBLE},
      feecontr = #{feecontr,jdbcType=CHAR},
      freebegtime = #{freebegtime,jdbcType=CHAR},
      freeendtime = #{freeendtime,jdbcType=CHAR},
      inserttime = #{inserttime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      effectivetime = #{effectivetime,jdbcType=CHAR},
      formaltime = #{formaltime,jdbcType=CHAR},
      contraaudistatus = #{contraaudistatus,jdbcType=INTEGER},
      contratype = #{contratype,jdbcType=INTEGER},
      bussinesstype = #{bussinesstype,jdbcType=INTEGER},
      cpmode = #{cpmode,jdbcType=VARCHAR},
      agent_company_code = #{agent_company_code,jdbcType=VARCHAR},
      refund_rule = #{refund_rule,jdbcType=INTEGER},
      audit_effect = #{audit_effect,jdbcType=INTEGER}
    where statdate = #{statdate,jdbcType=INTEGER}
      and cpid = #{cpid,jdbcType=INTEGER}
  </update>
</mapper>